.header {
  margin-bottom: 30px;
}

.header__content-wrapper {
  padding: 30px;
}
.header__title {
  font-size: 22px;
  text-align: center;
  margin-top: -20px;
  transition: all 0.2s ease-in-out;
  span {
    color: $sem-yellow;
  }
  @media screen and (min-width: $md) {
    font-size: 36px;
  }
}

.header__logo {
  height: 50px;
  margin-right: 15px;
  transform: translateY(15px);
  transition: all 0.2s ease-in-out;
  @media screen and (min-width: $md) {
    height: 70px;
  }
}
