.query-list-filters {
  //border: 4px solid $dark-gray;
}

.query-list-filters__filter-fields-wrapper {
  width: 100%;
  align-items: stretch;
}

.query-list-filters__field {
  flex: 1;
  width: auto;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  &:hover,
  &:focus {
    border-color: $sem-yellow;
  }
}

.query-list-filters__action-buttons-wrapper {
  padding: 0;
  @media screen and (min-width: $md) {
    padding: 0;
  }
}
.query-list-filters__reset-btn {
  background-color: $sem-yellow;
  border: none;
  display: block;
  width: 100%;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $sem-yellow-darker;
  }
}

.query-list {
}

.query-list__content-wrapper {
  box-shadow: inset 0px 0px 1px 0px black;
  padding: 15px 15px;
  height: 400px;
  width: 100%;
  overflow: auto;
  resize: vertical;
}

.query-list__content-wrapper::-webkit-scrollbar {
  background: transparent;
}
.query-list__content-wrapper::-webkit-scrollbar-thumb {
  background-color: $sem-yellow-darker;
  top: 15px;
}
.query-list__content-wrapper::-webkit-scrollbar-track-piece {
  margin-top: 15px;
  margin-bottom: 15px;
}

.query-list__empty-message {
  text-align: center;
}

.query-list-item {
  border-left: 6px solid transparent;
  padding: 10px 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    border-left: 6px solid $sem-yellow-darker;
    background: rgba(255, 255, 255, 0.1);
  }
}

.query-list-item__title {
  font-size: 20px;
  @media screen and (min-width: $md) {
    font-size: 26px;
  }
}
.query-list-item__desc {
  font-size: 14px;
  margin-bottom: 0;
  @media screen and (min-width: $md) {
    font-size: 18px;
  }
}
.query-list-item__creator {
  font-size: 12px;
  font-style: italic;
  text-align: right;
  margin-bottom: 0;
  @media screen and (min-width: $md) {
    font-size: 14px;
  }
  &::before {
    content: "■ ";
    font-size: 16px;
    color: $sem-yellow;
  }
}

.query-list-action-bar {
}
.query-list-action-bar__content-wrapper {
  padding: 0 15px;
  width: 100%;
}

.query-list-action-bar__btn {
  float: right;
  background-color: transparent;
  color: $sem-yellow;
  text-decoration: underline;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  &:hover {
    box-shadow: none;
    color: #fff;
  }
}
