.container {
  margin: 0 5%;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-dir--column {
  flex-direction: column;
}
.flex-hor--center {
  align-items: center;
}
.flex-ver--center {
  justify-content: center;
}
.page {
  min-height: 100vh;
  padding: 60px 0;
}

.block {
  background-color: $dark-gray;
}

.shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.8);
}

.main-content-wrapper {
  width: 100%;
  max-width: 1024px;
}

.bg-dots {
  background-image: url("./assets/images/dots.png");
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-linked-cells {
  background-image: url("./assets/images/linked_cells.png");
}
.bg-linked-cells--home-page {
  background-image: url("./assets/images/linked_cells.png");
}

.alert {
  padding: 10px 10px;
  margin-bottom: 5px;
  border: 1px solid transparent;
  p {
    margin: 0px;
  }
}
.alert-error {
  color: #a94442;
  border-color: #f5c6cb;
  background-color: #f8d7da;
}

.alert-pending {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
